<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    .inlineblock{
      color:white;
      width:250px;
      border: 2px dotted;
      display:inline-block;
      margin-left: 200px;
      margin-top: 200px;
                }
  </style>
  <body>
    <div class="inlineblock">Designers have to do things that a typist with a computer can’t do.

Assume that all of the information and imagery was supplied by the culture, that none of the information or imagery is original.

Research the subject as if you know nothing about it.

 And don’t stop until you have something interesting, or even better, something original to say. That’s the most likely way of producing an original image.


The design process can begin only after you are satisfied with the statement.

Listen to the statement. It will design itself.

Design is problem–solving.



What is good design is what communicates best in an original way, even though it doesn’t conform to our preconceptions of good design.

No image or color or typeface is always good or always bad. What makes it good is if it’s the best image or color or typeface that says exactly what you want to say.

Otherwise forget it.

</div>
    <div class="inlineblock">Designers have to do things that a typist with a computer can’t do.

Assume that all of the information and imagery was supplied by the culture, that none of the information or imagery is original.

Research the subject as if you know nothing about it.

 And don’t stop until you have something interesting, or even better, something original to say. That’s the most likely way of producing an original image.


The design process can begin only after you are satisfied with the statement.

Listen to the statement. It will design itself.

Design is problem–solving.



What is good design is what communicates best in an original way, even though it doesn’t conform to our preconceptions of good design.

No image or color or typeface is always good or always bad. What makes it good is if it’s the best image or color or typeface that says exactly what you want to say.

Otherwise forget it.

</div>
    <div class="inlineblock">Designers have to do things that a typist with a computer can’t do.

Assume that all of the information and imagery was supplied by the culture, that none of the information or imagery is original.

Research the subject as if you know nothing about it.

 And don’t stop until you have something interesting, or even better, something original to say. That’s the most likely way of producing an original image.


The design process can begin only after you are satisfied with the statement.

Listen to the statement. It will design itself.

Design is problem–solving.



What is good design is what communicates best in an original way, even though it doesn’t conform to our preconceptions of good design.

No image or color or typeface is always good or always bad. What makes it good is if it’s the best image or color or typeface that says exactly what you want to say.

Otherwise forget it.

</div>

  </body>
</html>
