* {
  box-sizing: border-box;
}

body {
   background-color: white;
}


#page-wrap {
  text-align: left;
  width: 1000px;
  margin: 0 auto;
}

.author{
  font-family: arial;
  font-size: 22px;
  padding-top: 20px;
}

.title{
  margin-top: 20px;
  font-family: arial;
  font-size: 22px;
}

.content{
  font-family: arial;
  font-size: 22px;
  width:100%
}

.quotes{
  margin: auto;
  color: black;
  font-size: 30px;
  font-family: times;
  font-style: italic;
  text-decoration: underline 1px;
  width: 430px;
  text-align: left;

}


hr.style1{
	border-top:1px dashed #8c8b8b;
}


/*navi*/

.navi__1{
 padding:20px;
 font-family: garamond bold;
 font-size: 25px;
  position:fixed;
  top:60px;
  left:38px;
  transform:rotate(270deg);
  color: black;
}

.navi__2{
 padding:20px;
 font-family: garamond bold;
 font-size: 25px;
  position:fixed;
  top:100px;
  right:0px;
   transform:rotate(90deg);
   color: black;
}

.navi__p{
 padding:20px;
 font-family: garamond bold;
 font-size: 25px;
  position:fixed;
  bottom:20px;
  left:70px;
  color: black;
}

.pt{
  font-family: arial;
  font-size: 25px;
  position:fixed;
  bottom:43px;
  left:170px;
  visibility: hidden;
}

.pt.showme{
  font-family: arial;
  font-size: 25px;
  position:fixed;
  bottom:43px;
  left:170px;
  visibility: visible;
}

.nt{
  font-family: arial;
  font-size: 25px;
  position:fixed;
  bottom:43px;
  right:170px;
  visibility: hidden;
}

.nt.showme{
  font-family: arial;
  font-size: 25px;
  position:fixed;
  bottom:43px;
  right:170px;
  visibility: visible;
}


.navi__n{
 padding:20px;
 font-family: garamond bold;
 font-size: 25px;
  position:fixed;
  bottom:20px;
  right:70px;
  color: black;
}

/*hovers*/

a {
  color: black;
  text-decoration: none;

}

a:hover{
  color:cyan;
  text-decoration: none;
}

a.home{
font-style: italic;
text-decoration: none;
}

a.home:hover{
  color:cyan;
  text-decoration: none;
}

a.links{
  font-family: arial;
  color:black;
  text-decoration: underline dashed #8c8b8b;
}

a.links:hover{
  color:cyan;
  text-decoration: underline dashed cyan;
}


/*effects*/



img:hover{
  width: 320px;
  transition: 2s;
}


/*layout*/

.overall-layout{
  display:flex;
}

.main-column{
   height: 100vh;
  flex：3 0；
  order:2;

}

.row{
  display: flex;
  flex-wrap:wrap;
  align-items:center;
}

.col__1of2{
   flex:2;
   text-align: left;
   padding:10px;
   align-self: flex-start;

}

.col__2of2{
   flex:1;
   text-align: right;
   padding: 10px;
   align-self: flex-start;
}


.col__3of2{
   flex:1;
   text-align: right;
   padding: 10px;
   align-self: flex-end;
}

/*hard*/
